
.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 100vh;
}

h1 {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
